.korgobjectsinput{
	background: white; 
	width: auto;
	padding: 5px; 
	margin: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	/*display: inline;*/ 
}

.korgobjectsinputitem{
	margin-right: 5px;
	margin-left: 5px;
	border: 1px solid #ddd;
	
}

.korgobjectsinputtext, .korgobjectsinputremove{
	display: inline; 
}
.korgobjectsinputremove{
	float: right;
	color: #ddd;
}
.korgobjectsinputremove:hover{
	color: #333;
}
#addorgunitinput{
	display: inline;
	color: #ddd;
}
#addorgunitinput:hover{
	color: #333;
}
#primaryorgunitsdivs 
{
	display: inline;
}

.oddRow{
	background: #eee;
	padding: 1px;
}
#orgunitsearchdivs{
	display: none;
}	
#orgunitsearch > table, #orgunitresults > table{
	background-color: white; 
}

#orgunitsearch > table tr td{
	border-top: 1px solid white !important; 
}

#orgunitresults > table img{
	margin-left: 5px;
	margin-right: 5px;
}

#orgunitsearch{
	margin-top: 5px;
	border-top: 1px solid #eee;
}
#orgunitsearch, #orgunitresults, #orgunitfooter{
	margin-top: 5px;
}

#orgunitsearch > table{
	padding-top: 5px !important;
}

#orgunitfooter{
	text-align: right;
}
#orgunitfooter > input[type=button]{
	margin-left: 3px;
}