<div style="margin-left: 10px;">
    <div class="divTable" id="{{itemData.id}}">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell" style="width:50%; padding-left: 6px;">
                    <span style="margin-left: -22px; margin-right: 3px;" ng-if="WBSPanel.hasChildren(itemData.id)">
                        <img id="{{itemData.id}}basic" style="display: none; cursor: pointer;margin-bottom: -3px;" src="themes/SpiceTheme/images/basic_search.gif" border="0" ng-click="WBSPanel.hideChildren(itemData.id)">
                        <img id="{{itemData.id}}advanced" style="cursor: pointer;margin-bottom: -3px;" src="themes/SpiceTheme/images/advanced_search.gif" border="0" ng-click="WBSPanel.showChildren(itemData.id)">
                    </span>
                    <a href="#" ng-click="WBSPanel.itemSelected(itemData.id)">{{itemData.name}}</a>
                </div>
                <div class="divTableCell" style="width:15%;">{{itemData.start_date}}</div>
                <div class="divTableCell" style="width:15%;">{{itemData.end_date}}</div>
                <div class="divTableCell" style="width:20%;">{{itemData.status}}</div>
            </div>
        </div>
    </div>
    <wbs-item class="{{itemData.id}}children" style="display: none;" ng-repeat="object in wbsService.getChildren(itemData.id)" item-data="object" ng-show="WBSPanel.hasChildren(itemData.id)"></wbs-item>
</div>